html.dark .highlight .c,
html.light .highlight .c {
    color: #56a64a;
}

html.dark .highlight .k,
html.light .highlight .k {
    color: #aa00aa;
}

html.dark .highlight .n,
html.light .highlight .n {
    color: #ffffb6;
}

html.dark .highlight .o,
html.light .highlight .o {
    color: #aa0000;
}